<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div id="app">
        <ul v-for="(key,mess) in message">
            <li>{{key}}:{{mess.name}}:{{mess.price}}</li>
        </ul>
        <!-- 强制通过索引遍历 -->
        <!--<ul v-for="mess in message" track-by="$index">
            <li>{{mess}}</li>
        </ul>-->
    </div>

    <script src="../vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                message:[
                    {name:'苹果',price:40},
                    {name:'咖喱',price:20},
                    {name:'苹果',price:40}
                ]

            }

        });


    </script>
</body>
</html>