<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- 如果写入为checkbox，需要设定数组 -->
        <input type="checkbox" name="group" v-model="checks" value="吃">
        <input type="checkbox" name="group" v-model="checks" value="喝">
        <input type="checkbox" name="group" v-model="checks" value="玩">
        {{checks}}

        <input type="radio" v-model="radio" value="男" name="radio">
        <input type="radio" v-model="radio" value="女" name="radio">
        {{radio}}
    </div>

    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                checks:[],
            }
        })


    </script>
</body>
</html>